html {
  font-family: "Noto Sans", serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

i,
span {
  display: block;
}

li a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

article {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost {
  border: 2px solid #8bc9d9;
  color: #005e76;
}

footer {
  border-top: 2px solid #e2e2e2;
  color: #666;
}

@media only screen and (min-width: 60em) {

  nav ul {
    text-align: right;
  }

}
